<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/nav-blue.css">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="stylesheet" href="css/admin.css">
    <title>admin-total</title>
  </head>


  <body>
    <nav>
      <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
        <a href="/admin" class="w3-bar-item w3-button sidebar-font">전체 지원서</a>
        <a href="/admin?filter=interviewTime" class="w3-bar-item w3-button sidebar-font">지원서 확인</a>
        <!--<a href="/admin?filter=result" class="w3-bar-item w3-button sidebar-font">결과 확인</a>-->
        <a href="/" class="w3-bar-item w3-button sidebar-font2">홈페이지</a>
      </div>
    </nav>


    <div class="w3-main" style="margin-left:200px">
      <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large hh" onclick="w3_open()">&#9776;</button>
        <div class="container">
          <p class="main-title" style="margin-top:20px;">운영진 페이지 <span class="p-md">- 전체 지원서</span></p>
          <!-- <a class="navbar-brand" href="#"><img src="img/logo-03.svg"
            alt="white-logo" class="logo-img"></a> -->
        </div>
      </div>

      <!--...................지원서 확인.................. -->
      <div class="container"  style="width:95%;">
        <div class="div-center">

          <!-- 선택하는 공간 -->
          <div class="box-gray">
            <div class="row">
              <div class="col-sm-6">
                <form class="div-center">
                  <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                    <tbody id="left-tbl-body">
                      <tr class="thead">
                        <td class="td-3" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">번호</td>
                        <td class="td-3" style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야</td>
                      </tr>
                      <% data.forEach(function (applicant, index) { %>
                      <% if(index % 2 == 0) { %>
                        <tr class="tbody applicant" id="<%= applicant.application_id %>"> 
                            <td class="td-3" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.application_id %></span></td>
                            <td class="td-3" style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.name %></span></td>
                            <td class="td-2" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.field %></span></td>
                        </tr>
                      <% }}) %>  
                    </tbody>
                  </table>
                </form>
              </div>
              <!-- -->
              <div class="col-sm-6">
                <form class="div-center">
                  <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                    <tbody id="right-tbl-body">
                      <tr class="thead ">
                        <td class="td-3" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">번호</td>
                        <td class="td-3" style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야</td>
                      </tr>
                      <% data.forEach(function (applicant, index) { %> 
                      <% if(index % 2 == 1) { %>
                        <tr class="tbody applicant" id="<%= applicant.application_id %>"> 
                            <td class="td-3" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.application_id %></span></td>
                            <td class="td-3" style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.name %></span></td>
                            <td class="td-2" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.field %></span></td>
                        </tr>
                      <% }}) %>  
                    </tbody>
                  </table>
                </form>
              </div>
              <!-- -->

            </div>
          </div>

    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
    <!--.................................................................................................... -->
    <!-- footer -->
    <section class="text-center">
      <img src="img/logo-01.svg" alt="Prography-logo" class="footer-logo-img" style="opacity:0.3;">
      <br>
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
      <div style="height:20px;"></div><!-- 중간에 띄어놓음 -->
    </section>
        <!-- footer end -->
    <script type="text/javascript" src="js/master.js"></script>
  </body>
  <script>
    $(".applicant").on('click', function () {
      location.href = '/application-specific?id=' + $(this)[0].id;
    });
  </script>
</html>
