<% include common/head_header %> <% include common/body_header_admin %>
<% var dataByParts = [[], [], [], [], [], [], []] %>
<% var partArr = ['react', 'react-native', 'android', 'ios', 'nodejs', 'django', 'deep'] %>

<% data.forEach(function (applicant, index) { %>
    <% partArr.forEach(function (fieldString, fieldIndex){ %>
        <% if (applicant.field === fieldString){ %>
            <% dataByParts[fieldIndex].push(applicant) %>
        <% } %>
<% })}) %>
<div style="margin-top: 80px; text-align: center; font-size: 24px;">
    현재 최종제출 마감자 : <%= data.length %>명
</div>
<div class="admin-button-wrapper">
    <button onclick="selectPart('react')">React (<%= dataByParts[0].length %>)</button>
    <button onclick="selectPart('react-native')">React Native (<%= dataByParts[1].length %>)</button>
    <button onclick="selectPart('android')">Android (<%= dataByParts[2].length %>)</button>
    <button onclick="selectPart('ios')">ios (<%= dataByParts[3].length %>)</button>
    <button onclick="selectPart('nodejs')">Nodejs (<%= dataByParts[4].length %>)</button>
    <button onclick="selectPart('django')">Django (<%= dataByParts[5].length %>)</button>
    <button onclick="selectPart('deep')">Deep Learning (<%= dataByParts[6].length %>)</button>
</div>

<% dataByParts.forEach(function (chunk, chunkIndex){ %>
    <div class="container admin-container" id="<%= partArr[chunkIndex] %>">
        <div class="box-label"><%= partArr[chunkIndex] %>(<%= chunk.length %>명)</div>
        <div class="div-center">
            <div class="box-gray">
                <div class="row">
                    <div class="col-sm-6">
                        <form class="div-center">
                            <table class="table table-striped text-center"
                                   style="width:100%; margin-right:auto; margin-left:auto;">
                                <tbody id="left-tbl-body">
                                <tr class="thead">
                                    <td class="td-2 mail"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">이메일
                                    </td>
                                    <td class="td-3"
                                        style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름
                                    </td>
                                    <td class="td-2"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야
                                    </td>
                                </tr>
                                <% chunk.forEach(function (applicant, index) { %>
                                    <% if(index % 2 == 0){ %>
                                        <tr class="tbody applicant" id="<%= applicant.email %>">
                                            <td class="td-2 mail"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.email %></td>
                                            <td class="td-3"
                                                style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.name %></td>
                                            <td class="td-2"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.field %></td>
                                        </tr>
                                <% }}) %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="div-center">
                            <table class="table table-striped text-center"
                                   style="width:100%; margin-right:auto; margin-left:auto;">
                                <tbody id="right-tbl-body">
                                <tr class="thead ">
                                    <td class="td-2 mail"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">이메일
                                    </td>
                                    <td class="td-3"
                                        style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름
                                    </td>
                                    <td class="td-2"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야
                                    </td>
                                </tr>
                                <% chunk.forEach(function (applicant, index) { %>
                                    <% if(index % 2 == 1){ %>
                                        <tr class="tbody applicant" id="<%= applicant.email %>">
                                            <td class="td-2 mail"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.email %></td>
                                            <td class="td-3"
                                                style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.name %></td>
                                            <td class="td-2"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.field %></td>
                                        </tr>
                                <% }}) %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% }) %>
<script>
  $(".applicant").on('click', function () {
    location.href = '/admin?filter=specific&email=' + $(this)[0].id;
  });

  let containers = document.getElementsByClassName('admin-container');
  const partStringArray = ['react', 'react-native', 'android', 'ios', 'nodejs', 'django', 'deep'];
  function selectPart(fieldName) {
    for (let i = 0; i < containers.length; i++) {
      $('#' + partStringArray[i]).addClass('hidden')
    }
    $('#' + fieldName).removeClass('hidden')
  }

  selectPart('react')
  // forEach((container) => {
  //   console.log(container)
  // })
</script>
<% include common/footer %>
