<% include common/head_header %><meta property="og:title" content="운영진 페이지 - 전체 지원서" /><% include common/body_header_admin %>
	<title>운영진 페이지 - 전체 지원서</title>

    <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
    <div class="container"  style="width:90%;">
        <div class="div-center">
            <div class="box-gray">
                <div class="row">
                    <div class="col-sm-6">
                        <form class="div-center">
                            <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                                <tbody id="left-tbl-body">
                                    <tr class="thead">
                                        <td class="td-2" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">이메일</td>
                                        <td class="td-3" style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름</td>
                                        <td class="td-2" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야</td>
                                    </tr>
                                    <% data.forEach(function (applicant, index) { %>
                                    <% if(index % 2 == 0) { %>
                                    <tr class="tbody applicant" id="<%= applicant.email %>"> 
                                        <td class="td-2" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.email %></span></td>
                                        <td class="td-3" style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.name %></span></td>
                                        <td class="td-2" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.field %></span></td>
                                    </tr>
                                    <% }}) %>  
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="div-center">
                            <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                                <tbody id="right-tbl-body">
                                    <tr class="thead ">
                                        <td class="td-2" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">번호</td>
                                        <td class="td-3" style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름</td>
                                        <td class="td-2" style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야</td>
                                    </tr>
                                    <% data.forEach(function (applicant, index) { %> 
                                    <% if(index % 2 == 1) { %>
                                    <tr class="tbody applicant" id="<%= applicant.email %>"> 
                                        <td class="td-2" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.email %></span></td>
                                        <td class="td-3" style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.name %></span></td>
                                        <td class="td-2" style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><span><%= applicant.field %></span></td>
                                    </tr>
                                    <% }}) %>  
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
    <script>
        $(".applicant").on('click', function () {
            location.href = '/admin?filter=specific&email=' + $(this)[0].id;
        });
    </script>
<% include common/footer %>
