<% include common/head_header %> <% include common/body_header_admin %>
<div><%= data[0].field = 'react' %></div>
<% var dataByParts = [[], [], [], [], [], [], []] %>
<% var partArr = ['react', 'react-native', 'android', 'ios', 'nodejs', 'django', 'deep'] %>

<% data.forEach(function (applicant, index) { %>
    <% partArr.forEach(function (fieldString, fieldIndex){ %>
        <% if (applicant.field === fieldString){ %>
            <% dataByParts[fieldIndex].push(applicant) %>
        <% } %>
<% })}) %>
<% dataByParts.forEach(function (chunk, chunkIndex){ %>
    <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
    <div class="container admin-container">
        <div class="box-label"><%= partArr[chunkIndex] %></div>
        <div class="div-center">
            <div class="box-gray">
                <div class="row">
                    <div class="col-sm-6">
                        <form class="div-center">
                            <table class="table table-striped text-center"
                                   style="width:100%; margin-right:auto; margin-left:auto;">
                                <tbody id="left-tbl-body">
                                <tr class="thead">
                                    <td class="td-2 mail"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">이메일
                                    </td>
                                    <td class="td-3"
                                        style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름
                                    </td>
                                    <td class="td-2"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야
                                    </td>
                                </tr>
                                <% chunk.forEach(function (applicant, index) { %>
                                    <% if(index % 2 == 0){ %>
                                        <tr class="tbody applicant" id="<%= applicant.email %>">
                                            <td class="td-2 mail"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.email %></td>
                                            <td class="td-3"
                                                style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.name %></td>
                                            <td class="td-2"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.field %></td>
                                        </tr>
                                <% }}) %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="div-center">
                            <table class="table table-striped text-center"
                                   style="width:100%; margin-right:auto; margin-left:auto;">
                                <tbody id="right-tbl-body">
                                <tr class="thead ">
                                    <td class="td-2 mail"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">이메일
                                    </td>
                                    <td class="td-3"
                                        style="background-color:#0a88a7; opacity:0.8; color:#fff; padding:10px;">이름
                                    </td>
                                    <td class="td-2"
                                        style="background-color:#0a88a7; opacity:0.6; color:#fff; padding:10px;">지원분야
                                    </td>
                                </tr>
                                <% chunk.forEach(function (applicant, index) { %>
                                    <% if(index % 2 == 1){ %>
                                        <tr class="tbody applicant" id="<%= applicant.email %>">
                                            <td class="td-2 mail"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.email %></td>
                                            <td class="td-3"
                                                style="background-color:#fff; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.name %></td>
                                            <td class="td-2"
                                                style="background-color:#f1f1f1; border: 1px solid #30aecd 0.5; color:#222;"><%= applicant.field %></td>
                                        </tr>
                                <% }}) %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% }) %>
<script>
  $(".applicant").on('click', function () {
    location.href = '/admin?filter=specific&email=' + $(this)[0].id;
  });
</script>
<% include common/footer %>
