<% include common/head_header %><meta property="og:title" content="<%=n_th%>기 지원서 작성" /><% include common/body_header %>
    <link rel="stylesheet" href="css/history.css">
    <title><%=n_th%>기 지원서 작성</title>
   
    <div class="box" style="height:100px;"></div>
    <section id="banner" class="container per-80">
        <form method="post" action="/application">

            <!--로고 & line-->
            <!-- <img src="img/logo-01.svg" alt="white-logo" class="logo-middle-noclick"> -->
            <div class="w3-border-top w3-border-left w3-border-right w3-border-lightgray application-division"></div>

            <!--안내사항-->
            <div>
                <p class="l-explain text-left">프로그라피 <%=n_th%>기 지원서</p>
                <p class="explain text-left" style="margin-top:-10px;">안녕하세요 프로그라피 <%=n_th%>기 지원자님. 해당 자료는 <%=n_th%>기 모집 관련 자료에만 사용이 됩니다.
                    <br>지원서 최종 제출일은 <strong><%=dates.due_month%>월 <%=dates.due_day%>일 밤 12시</strong> 입니다. 그 이후에는 제출 및 수정이 불가능 합니다!</p>
            </div>

            <!--line-->
            <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; opacity:0.5;"></div>

            <!--인적사항-->
            <div class="per-90 div-center">
                <div class="row">
                    <div class="col-sm-6 margin-top-20">
                        <label class="application-label">이메일</label>
                        <input id="email" name="email" class="w3-input w3-border" value="<%=data.email%>" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 margin-top-20">
                        <label class="application-label">이름</label>
                        <input id="name" name="name" class="w3-input w3-border" type="text" placeholder="김라피" value="<%=data.name%>">
                    </div>
                    <div class="col-sm-6 margin-top-20">
                        <label class="application-label">성별</label>
                        <input id="sex" name="sex" class="w3-input w3-border" type="text" placeholder="여 / 남" value="<%=data.sex%>">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 margin-top-20">
                        <label class="application-label">생년월일 (중간 -를 생략하세요)</label>
                        <input id="birth" name="birth" class="w3-input w3-border" type="text" placeholder="990101" value="<%=data.birth%>">
                    </div>
                    <div class="col-sm-6 margin-top-20">
                        <label class="application-label">연락처 (중간 -를 생략하세요)</label>
                        <input id="phone" name="phone" class="w3-input w3-border" type="text" placeholder="01012345678" value="<%=data.phone%>">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 margin-top-20">
                        <label class="application-label">소속대학 / 전공 / 학년</label>
                        <input id="college" name="college" class="w3-input w3-border" type="text" placeholder="ex) 단국대 녹지조경학과 4학년" value="<%=data.college%>">
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <label class="application-label">현 거주지 및 가까운 역</label>
                        <input id="address" name="address" class="w3-input w3-border" type="text" placeholder="ex) 서울시 영등포구 ... / 문래역" value="<%=data.address%>">
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <label class="application-label">지원분야 (안드로이드의 경우에는 java, 딥러닝의 경우에는 python 프로그래밍 경험이 !충분!히 있는 경우 한정)</label>
                        <input id="field" name="field" class="w3-input w3-border" type="text" placeholder="웹 프론트엔드 / 백엔드(Ruby on Rails, Node.js, Python Django) / 안드로이드 / 딥러닝 / UI-UX " value="<%=data.field%>">
                    </div>
                </div>

            </div>

            <!--line-->
            <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

            <!--본격 내용-->
            <div class="per-90 div-center" style="margin-top :50px;">
                <div class="row margin-top-60">
                    <div class="col-sm-12">
                        <label class="application-label">[1] 간단히 자기소개를 해주세요! (500자 이내)</label>
                        <textarea name="q1" class="w3-input w3-border" rows="6" id="q1" placeholder=""><%=data.q1%></textarea>
                    </div>
                </div>

                <div class="row margin-top-60">
                    <div class="col-sm-12">
                        <label class="application-label">[2] 프로그라피에 지원하게 된 동기에 대해 말씀해주세요! (500자 이내)</label>
                        <textarea name="q2" class="w3-input w3-border" rows="6" id="q2" placeholder=""><%=data.q2%></textarea>
                    </div>
                </div>

                <div class="row margin-top-60">
                    <div class="col-sm-12">
                        <label class="application-label">[3] 프로그라피에서 만들어보고 싶은 것이 있다면 말해주세요! (300자 이내)</label>
                        <textarea name="q3" class="w3-input w3-border" rows="3" id="q3" placeholder=""><%=data.q3%></textarea>
                    </div>
                </div>

                <div class="row margin-top-60">
                    <div class="col-sm-12">
                        <label class="application-label">[4] 과거 활동했던 경험과 현재 하고 있는 활동에 대해 말씀해주세요!
                            <br>
                            <p class="p-pp" style="margin-left:-10px;">(ex. 학과활동, 동아리, 단체활동, 봉사활동, 수상내역, 인턴, 기타 등)</p>
                        </label>
                        <table class="table text-center" style="margin-top:20px;">
                            <tbody>
                                <tr class="thead" style="background-color:#f1f1f1;">
                                    <td class="td-3">분야</td>
                                    <td class="td-3">기간</td>
                                    <td class="td-4">직책 및 활동</td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[0].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[0].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[0].activity%>">
                                    </td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[1].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[1].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[1].activity%>">
                                    </td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[2].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[2].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[2].activity%>">
                                    </td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[3].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[3].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[3].activity%>">
                                    </td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[4].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[4].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[4].activity%>">
                                    </td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[5].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[5].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[5].activity%>">
                                    </td>
                                </tr>
                                <tr class="tbody" style="background-color:#fff;">
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="q4_field" value="<%=data2[6].q4_field%>">
                                    </td>
                                    <td class="td-3">
                                        <input class="w3-input w3-border-lightgray" type="text" name="term" value="<%=data2[6].term%>">
                                    </td>
                                    <td class="td-4">
                                        <input class="w3-input w3-border-lightgray" type="text" name="activity" value="<%=data2[6].activity%>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row margin-top-60">
                    <div class="col-sm-12">
                        <label class="application-label">[5] 위에서 표현하지 못한 자기 자신에 대해 적어주세요 (길이 제한 없음)</label>
                        <textarea name="q5" class="w3-input w3-border" rows="6" id="q5" placeholder=""><%=data.q5%></textarea>
                    </div>
                </div>

                <!--ot, mt 확인 버튼-->
                <div class="box" style="height:50px;"></div>
                <!-- 중간에 띄어놓음 -->
                <!-- -->
                <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                    <tbody>
                        <tr class="thead ">
                            <td class="td-1" style="background-color:#0a88a7; opacity:0.6; color:#fff;">시간</td>
                            <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">참석</td>
                            <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">불참석</td>
                        </tr>
                        <tr class="tbody">
                            <td class="td-1" style="background-color:#b2d7e1; color:#222;">OT (<%=dates.OT_month%>/<%=dates.OT_day%>)</td>
                            <form action="index.html" method="post">
                                <td class="td-2">
                                    <label class="label-circle">
                                        <input type="radio" id="ot_attend" class="ot" name="radio1" value="1">
                                        <span class="checkmark"></span></label>
                                </td>
                                <td class="td-2">
                                    <label class="label-circle">
                                        <input type="radio" id="ot_absent" class="ot" name="radio1" value="0">
                                        <span class="checkmark"></span></label>
                                </td>
                                <script>
                                    if (<%=data.q6%> == 1) {
                                        $("#ot_attend").click();
                                    } else if (<%=data.q6%> == 0) {
                                        $("#ot_absent").click();
                                    }
                                </script>
                            </form>
                        </tr>
                        <tr class="tbody">
                            <td class="td-1" style="background-color:#b2d7e1; color:#222;"><span>MT (<%=dates.OT_month%>/<%=dates.OT_day%> ~ <%=dates.MT_month%>/<%=dates.MT_day%>)</span></td>
                            <form action="index.html" method="post">
                                <td class="td-2">
                                    <label class="label-circle">
                                        <input type="radio" id="mt_attend" class="mt" name="radio2" value="1">
                                        <span class="checkmark"></span></label>
                                </td>
                                <td class="td-2">
                                    <label class="label-circle">
                                        <input type="radio" id="mt_absent" class="mt" name="radio2" value="0">
                                        <span class="checkmark"></span></label>
                                </td>
                                <script>
                                    if (<%=data.q7%> == 1) {
                                        $("#mt_attend").click();
                                    } else if (<%=data.q7%> == 0) {
                                        $("#mt_absent").click();
                                    }
                                </script>
                            </form>
                        </tr>
                    </tbody>
                </table>

                <span class="help-block text-center" style="margin-top:5px; color:gray; font-size:12px;">※ OT, MT는 필참입니다 ※</span>

                <!--line-->
                <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

                <!--마지막 안내 사항-->
                <p class="explain text-center">
                    제출 전까지 <strong>'SAVE'</strong>로 작성하신 부분까지 저장하시고, 최종 제출 시에만 <strong>'SUBMIT'</strong>으로 최종 제출하세요!
                </p>    
                <!-- Button trigger modal -->
                <div class="basic-button" style="width:150px; margin:0 auto; margin-top:30px;">
                    <button type="button" name="save" class="orange-btn fixed-button" data-toggle="modal" data-target="#exampleModalCenter1" id="saveButton">SAVE</button>
                    <button type="button" name="pre-submit" class="blue-btn" data-toggle="modal" data-target="#exampleModalCenter2">SUBMIT</button>
                </div>

                <!-- Modal-alert -->
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle1">지원서 중간 저장</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                성공적으로 저장되었습니다.
                                <br> 9월1일까지 최종제출을 잊지마세요! ღ'ᴗ'ღ
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal confirm-->
                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle2">지원서 최종 제출</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                지원서를 제출하시겠습니까?
                                <br>최종 제출하시면 더 이상 수정이 불가합니다!
                                <br>
                                <br>아직 제출하실 준비가 안되셨다면, 우선 SAVE 해두셔도 좋습니다.
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" name="submit" class="btn btn-primary" data-toggle="modal" data-target="#submitapplication" data-dismiss="modal" id="submitButton">최종 제출하기</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal confirm close-->
                <div class="modal fade" id="submitapplication" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle3">지원서 최종 제출 </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="submitapplication-modal-body" class="modal-body">제출 완료!</div>
                            <div class="modal-footer">
                                <button type="button" id="complete_submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <div class="box" style="height:150px;"></div>
    <script type="text/javascript" src="js/application.js"></script>
<% include common/footer %>
